<!DOCTYPE html>
<html>
  <head>
    <title>Tailstyle</title>
    <meta name="description" content="TailStyle app" />
    <meta name="title" property="og:title" content="TailStyle" />
    <meta property="og:type" content="Website" />
    <meta name="image" property="og:image" content="https://imgur.com/u89FTWm" />
    <meta name="description" property="og:description" content="TailStyle" /><meta name="author" content="Ricardo Montengro" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div class='container-app'>

      <%= render 'layouts/messages' %>

      <%= yield %>

    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
